<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>CalculateServlet</servlet-name>
        <servlet-class>controllers.CalculateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommonDivisorServlet</servlet-name>
        <servlet-class>controllers.CommonDivisorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PreviousPEServlet</servlet-name>
        <servlet-class>controllers.PreviousPEServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ElectricityServlet</servlet-name>
        <servlet-class>controllers.ElectricityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CurrencyExchangeServlet</servlet-name>
        <servlet-class>controllers.CurrencyExchangeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CalculateServlet</servlet-name>
        <url-pattern>/calculator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommonDivisorServlet</servlet-name>
        <url-pattern>/commondiv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PreviousPEServlet</servlet-name>
        <url-pattern>/peq1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ElectricityServlet</servlet-name>
        <url-pattern>/electricity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CurrencyExchangeServlet</servlet-name>
        <url-pattern>/currencyexchange</url-pattern>
    </servlet-mapping>
</web-app>
